@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px; /* szerokość paska przewijania */
}

/* Zmienia wygląd tła paska przewijania */
::-webkit-scrollbar-track {
  background: #ffffff; /* kolor tła */
}

/* Zmienia wygląd suwaka paska przewijania */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* kolor suwaka */
  border-radius: 20px; /* zaokrąglenie rogu suwaka */
}

/* Zmienia wygląd suwaka paska przewijania podczas najechania kursorem */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* kolor suwaka podczas najechania kursorem */
}
